<%= @user.name %> Profile
<br></br>

<% if @events.empty? %>
  You don't have any events yet.
<% else %>

Events:
  <br>
  <!-- <% @user.events.each do |event| %>
    <%= link_to event.title, event_path(event) %><br>
  <% end %> -->
<% end %>

<!-- <p>
  <%= link_to "View Events", user_events_path(@user), :class => "view_events" %>
</p> -->

<div class="all_events">
</div>

<div class="event">
</div>

<div class="event_images">
</div>



<br>
<%= link_to "View All Events", events_path %>
<br>
<%= link_to "Create New Event", new_event_path %>
<br>
<%= link_to "Edit Your Profile", edit_user_path(@user) %>
<br>
<%= link_to "View All Users", users_path %>
<br>
<%= link_to "Log Out", signout_path, :method => :delete %>
